CellularCompanyClient/Client/Connected Services/ReportsEngineServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportsEngineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportsEngineService_MostValuableClients_InputMessage">
    <wsdl:part name="parameters" element="tns:MostValuableClients" />
  </wsdl:message>
  <wsdl:message name="IReportsEngineService_MostValuableClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostValuableClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportsEngineService_MostCallingToCenterClients_InputMessage">
    <wsdl:part name="parameters" element="tns:MostCallingToCenterClients" />
  </wsdl:message>
  <wsdl:message name="IReportsEngineService_MostCallingToCenterClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostCallingToCenterClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportsEngineService">
    <wsdl:operation name="MostValuableClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsEngineService/MostValuableClients" message="tns:IReportsEngineService_MostValuableClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsEngineService/MostValuableClientsResponse" message="tns:IReportsEngineService_MostValuableClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostCallingToCenterClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsEngineService/MostCallingToCenterClients" message="tns:IReportsEngineService_MostCallingToCenterClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsEngineService/MostCallingToCenterClientsResponse" message="tns:IReportsEngineService_MostCallingToCenterClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportsEngineService" type="tns:IReportsEngineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostValuableClients">
      <soap:operation soapAction="http://tempuri.org/IReportsEngineService/MostValuableClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostCallingToCenterClients">
      <soap:operation soapAction="http://tempuri.org/IReportsEngineService/MostCallingToCenterClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportsEngineService">
    <wsdl:port name="BasicHttpBinding_IReportsEngineService" binding="tns:BasicHttpBinding_IReportsEngineService">
      <soap:address location="http://localhost:61783/services/ReportsEngineService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>