CellularCompanyClient/Client/Connected Services/CRMServiceReference/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="client" nillable="true" type="q1:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="AddClientResult" nillable="true" type="q2:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLineEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="line" nillable="true" type="q3:LineDto" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="selectedNumbers" nillable="true" type="q4:SelectedNumbersDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLineEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="AddLineEntityResult" nillable="true" type="q5:LineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="package" nillable="true" type="q6:PackageDto" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="packageIncludes" nillable="true" type="q7:PackageIncludesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="AddPackageResult" nillable="true" type="q8:PackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="client" nillable="true" type="q9:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="UpdateClientResult" nillable="true" type="q10:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="line" nillable="true" type="q11:LineDto" />
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="UpdateLineResult" nillable="true" type="q12:LineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="package" nillable="true" type="q13:PackageDto" />
        <xs:element minOccurs="0" name="packageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="UpdatePackageResult" nillable="true" type="q14:PackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSelectedNumbersResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetClientTypesResult" nillable="true" type="q16:ArrayOfClientTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetClientsResult" nillable="true" type="q17:ArrayOfClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClientsIdsResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesOfClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesOfClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetLinesOfClientResult" nillable="true" type="q19:ArrayOfLineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetPackagesResult" nillable="true" type="q20:ArrayOfPackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetLinesResult" nillable="true" type="q21:ArrayOfLineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>