CellularCompanyClient/Client/Connected Services/InvoiceServiceReference/InvoiceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61783/Services/InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
  <xs:element name="AddSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="sms" nillable="true" type="q1:SMSDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="AddSMSResult" nillable="true" type="q2:SMSDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="call" nillable="true" type="q3:CallsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="AddCallResult" nillable="true" type="q4:CallsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetDestinationLinesResult" nillable="true" type="q5:ArrayOfLineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetLinePackageResult" nillable="true" type="q6:PackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>