CellularCompanyClient/Client/Connected Services/InvoiceServiceReference/InvoiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InvoiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61783/Services/InvoiceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61783/Services/InvoiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61783/Services/InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
      <xsd:import schemaLocation="http://localhost:61783/Services/InvoiceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInvoiceService_AddSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSMS" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_AddSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_AddCall_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCall" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_AddCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCallResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetDestinationLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationLines" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetDestinationLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetLinePackage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinePackage" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetLinePackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinePackageResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetLinePackageIncludes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinePackageIncludes" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetLinePackageIncludes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinePackageIncludesResponse" />
  </wsdl:message>
  <wsdl:portType name="IInvoiceService">
    <wsdl:operation name="AddSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/AddSMS" message="tns:IInvoiceService_AddSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/AddSMSResponse" message="tns:IInvoiceService_AddSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/AddCall" message="tns:IInvoiceService_AddCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/AddCallResponse" message="tns:IInvoiceService_AddCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestinationLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/GetDestinationLines" message="tns:IInvoiceService_GetDestinationLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/GetDestinationLinesResponse" message="tns:IInvoiceService_GetDestinationLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinePackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/GetLinePackage" message="tns:IInvoiceService_GetLinePackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/GetLinePackageResponse" message="tns:IInvoiceService_GetLinePackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinePackageIncludes">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/GetLinePackageIncludes" message="tns:IInvoiceService_GetLinePackageIncludes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/GetLinePackageIncludesResponse" message="tns:IInvoiceService_GetLinePackageIncludes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInvoiceService" type="tns:IInvoiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSMS">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/AddSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCall">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/AddCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDestinationLines">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/GetDestinationLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinePackage">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/GetLinePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinePackageIncludes">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/GetLinePackageIncludes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port name="BasicHttpBinding_IInvoiceService" binding="tns:BasicHttpBinding_IInvoiceService">
      <soap:address location="http://localhost:61783/Services/InvoiceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>