CellularCompanyClient/Client/Connected Services/OptimalPackageServiceReference/OptimalPackageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OptimalPackageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61783/Services/OptimalPackageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61783/Services/OptimalPackageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOptimalPackageService_CalaculateTotalMinutes_InputMessage">
    <wsdl:part name="parameters" element="tns:CalaculateTotalMinutes" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalaculateTotalMinutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalaculateTotalMinutesResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalSMS" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesOfTopNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesOfTopNumber" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesOfTopNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesOfTopNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesOf3TopNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesOf3TopNumbers" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesOf3TopNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesOf3TopNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesWithFamily_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesWithFamily" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateTotalMinutesWithFamily_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalMinutesWithFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateClientValue_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateClientValue" />
  </wsdl:message>
  <wsdl:message name="IOptimalPackageService_CalculateClientValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateClientValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IOptimalPackageService">
    <wsdl:operation name="CalaculateTotalMinutes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalaculateTotalMinutes" message="tns:IOptimalPackageService_CalaculateTotalMinutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalaculateTotalMinutesResponse" message="tns:IOptimalPackageService_CalaculateTotalMinutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalSMS" message="tns:IOptimalPackageService_CalculateTotalSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalSMSResponse" message="tns:IOptimalPackageService_CalculateTotalSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesOfTopNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOfTopNumber" message="tns:IOptimalPackageService_CalculateTotalMinutesOfTopNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOfTopNumberResponse" message="tns:IOptimalPackageService_CalculateTotalMinutesOfTopNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesOf3TopNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOf3TopNumbers" message="tns:IOptimalPackageService_CalculateTotalMinutesOf3TopNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOf3TopNumbersResponse" message="tns:IOptimalPackageService_CalculateTotalMinutesOf3TopNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesWithFamily">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesWithFamily" message="tns:IOptimalPackageService_CalculateTotalMinutesWithFamily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesWithFamilyResponse" message="tns:IOptimalPackageService_CalculateTotalMinutesWithFamily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateClientValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateClientValue" message="tns:IOptimalPackageService_CalculateClientValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOptimalPackageService/CalculateClientValueResponse" message="tns:IOptimalPackageService_CalculateClientValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOptimalPackageService" type="tns:IOptimalPackageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalaculateTotalMinutes">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalaculateTotalMinutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalSMS">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalculateTotalSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesOfTopNumber">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOfTopNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesOf3TopNumbers">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesOf3TopNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalMinutesWithFamily">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalculateTotalMinutesWithFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateClientValue">
      <soap:operation soapAction="http://tempuri.org/IOptimalPackageService/CalculateClientValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OptimalPackageService">
    <wsdl:port name="BasicHttpBinding_IOptimalPackageService" binding="tns:BasicHttpBinding_IOptimalPackageService">
      <soap:address location="http://localhost:61783/Services/OptimalPackageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>